.DS_Store
__pycache__/
*.py[cod]

.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

data/procedural/train/
data/procedural/val/
data/procedural/metadata.json
data/procedural/dataset_stats.json

data/procedural64/train/
data/procedural64/val/
data/procedural64/metadata.json
data/procedural64/dataset_stats.json
